* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;

}

.container {
    overflow: hidden;
    border: 1px solid black;
    /*margin: 5px;
    */height: 500px;
    scroll-behavior: smooth;
   
}
@keyframes slide {
    0% { margin-left: 0%;}
    25% { margin-left: -100%;}
    50% { margin-left: -200%;}
    75% { margin-left: -300%;}
    100% { margin-left: -400%;}
    
}

.box {
    width: 100%;
    display: flex;
    aspect-ratio: 4/1;
    animation: slide 10s infinite linear;
    -webkit-animation: slide 13s infinite ease-in-out;
}

.boxes {
    border: 1px solid red;
    /* width: 100%; */
    aspect-ratio: 4/1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxes:nth-child(2n-1){
    background-color: red;
    color: white;
    font-weight: 500;
    font-size: 200px;
}

.boxes.boxes:nth-child(2n-2){
    background-color: blue;
    color: white;
    font-weight: 500;
    font-size: 200px;
}

.anchor {
    margin: auto;
    border: 1px solid red;
    width: 100px;
    position: absolute;
    left: 50%;
    top: 47%;
    transform: translate(-50%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
}

.anchor > a {
    padding: 10px;
    border-radius: 100%;
    border: 1px solid red;
    background-color: white;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
